@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* background color */
    --clr-main-background: #EDEDED;
    --clr-background-dark-green: #405559;
    --clr-background-light-green: #68868C;
    --clr-background-dark-gray: #3E3E3E;
    --clr-background-gray: gray;
    /* Text colors */
    --text-main: #EDEDED;
    --text-golden: #E76F51;
    --text-link: #e4e7e6;
    --text-link-hover: #E76F51;
    /* Fonts */
    --font-standard: 'Motserrat 400', sans-serif;
    --font-h1: 'Montserrat 900', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header ul {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--clr-background-dark-green);
    min-height: 10em;
    min-width: 100%;
    text-align: center;
    z-index: 12;
}

header h1 {
    padding: 0.5em;
    margin: 0;
}

img {
    max-width: 100%;
}


nav li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

nav li a {
    color: #fff;
    display: block;
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    padding: 0.15em;
    text-decoration: none;
}


#portfolio a {
    text-decoration: none;
    color: var(--text-golden);
}

a:visited {
    color: var(--text-link);
}

a:focus,
a:hover {
    color: var(--text-golden);
}

.wrapper {
    min-height: 100vh;
    max-width: 100vw;
}


.imageStretch {
    object-fit: cover;
}


.headerText {
    color: var(--clr-main-background);
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;

}

/* Card layouts */

.card-group {
    background-color: var(--clr-background-gray);
}

.card {
    border: 2px solid gray;
}

#contact{
    margin: 0;
}

.card-title {
    text-align: center;
    font-weight: 900;
    color: var(--text-link);
    text-decoration-line: underline;
}

.card-body {
    background-color: var(--clr-background-dark-gray);
}

.card-text {
    color: var(--text-link);
    text-align: center;
    padding-left: 0.5em;
}

.center-link {
    display: block;
    text-align: center;
}

/* ID myBtn och myBtn hover styr utseendet på scrollfunktionen i javascriptet.*/
#myBtn {
    background-color: var(--clr-background-dark-green);
    border-radius: 5px;
    border: none;
    bottom: 85px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 18px;
    outline: none;
    position: fixed;
    padding: 5px;
    right: 10px;
    z-index: 99;
}

#myBtn:hover {
    color: var(--text-golden);
}

/* Heroe images and text decoration */
.start {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.heroOneTextBottom {
    grid-area: 1 / 1 / 2 / 2;
}

.heroOneText {
    grid-area: 1 / 1 / 2 / 2;
    padding: 1em;
}

.heroImgOne {
    grid-area: 2 / 1 / 3 / 2;
}

h2 {
    font-weight: bold;
}

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.heroTwoTextBottom {
    grid-area: 1 / 1 / 2 / 2;
}

.heroTwoText {
    grid-area: 1 / 1 / 2 / 2;
    padding: 1em;
}

.heroImgTwo {
    grid-area: 2 / 1 / 3 / 2;
}

.center-link {
    display: block;
    text-align: center;
}


footer {
    background-color: var(--clr-background-dark-gray);
    margin: 0;
    padding: 0;
}

.foot-top {
    display: flex;
    justify-content: center;
    column-gap: 0.8em;
    font-size: 4rem;
    flex-wrap: wrap;
}

.foot-bottom {
    display: block;
    border-top: 1px solid gray;
    background-color: var(--clr-background-dark-green);
    text-align: center;
    padding: 0.3em 0 0.1em;
    font-size: 1.2rem;
    color: var(--text-link);
    font-weight: bold;

}


#portfolio-text {
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: var(--clr-background-dark-green);
    margin-bottom: 0;
    padding-bottom: 0.3em;
}
/* Controls the weather app in the contact card
   will be removed after the assignment is turned in.*/
#weather{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding: 0;
}
#temp{
    margin-bottom: 0;
    padding: 0;
}
#location{
 margin-bottom: 0;
 padding: 0;
}

@media screen and (min-width: 768px) {

    header h1{
        text-align: left;
    }
    nav li {
        display: inline-block;
    }

    nav ul {
        bottom: 0.1em;
        position: absolute;
        right: 1.2em;
    }

    /* .heroOneText {
        background: rgb(64, 85, 89);
        background: rgba(64, 85, 89, 0.4);
        position: relative;
        top: 50%;
        text-align: left;
        margin-left: 0.8em;
        width: 30%;
        max-width: 80ch;
        z-index: 10;
    }

    .heroImgOne{
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        top: -15em;
    } */
    /* .heroTwoText {
        background: rgb(64, 85, 89);
        background: rgba(64, 85, 89, 0.4);
        position: relative;
        top: 50%;
        text-align: left;
        margin-right: 1em;
        max-width: 50ch;
        z-index: 10;
    }
    .heroImgTwo{
        position:relative;
        top: -15em;
    } */
}